<div *ngFor="let r of listRegistration">
  <h1>{{r.email}} , {{r.password}} , {{r.country}}, {{r.age}}, {{r.gender}}, {{r.phone}}</h1>
</div>
<form [formGroup]="registrationForm" (submit)="addNewProduct()">

  <label>
    email:
    <input type="text" formControlName="email">
  </label>
  <hr>
  <label>
    password:
    <input type="text" formControlName="password">
  </label>
  <hr>
  <label>
    country:
    <input type="text" formControlName="country">
  </label>
  <hr>
  <label>
    age:
    <input type="text" formControlName="age">
  </label>
  <hr>
  <label>
    gender:
    <input type="text" formControlName="gender">
  </label>
  <hr>
  <label>
    phone:
    <input type="text" formControlName="phone">
  </label>
  <hr>
  <button type="submit">đăng ký </button>
</form>
